/* CSS for the Index Page */

/************************* Font Section *************************/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/************************* Color Code Section *************************/

:root{
    /* Used these colors as required regardless of the theme and category.*/

    /* Light Mode Color Codes */
    --primary-background: #EEEEEE;
    --secondary-background: #FFFFFF;
    --primary-dark: black;
    --dark-shade-light: rgb(90, 84, 84);

    /* Dark Mode Color Codes */
    --primary-dark-background: #060C5B;

    /* Special Options Icon Color Codes */
    --download-icon: #5ADF11;
    --print-icon: #FF651C;

    /* Social Media Icon Color Codes */
    --whatsapp-icon: #44C052;
    --twitter-icon: #01A6F1;
    --facebook-icon: #35609D;
    --instagram-icon: #DF012B;
    --linkedin-icon: #0077b5;

    /* Error & Success Message Color Codes */

    --error: rgb(255, 23, 23);
    --succes: rgb(80, 255, 80);

    /* Common Button Colors */
    --portfolio-button: #1829F2;
    --shade-brite: blue;
    --mild-danger: magenta;
}

/************************* Reset and Page Body Setup *************************/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background: var(--primary-background);
    -webkit-font-smoothing: antialiased;
    cursor: default;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}

.container{
    margin: 0 auto;
    max-width: 910px;
}

/************************* Decoration Section *************************/

.decor-section-1 {
    content:"";
    background: var(--primary-dark);
    color: var(--primary-dark);
    margin-top: -38px;
    height: 50px;
    z-index: 10;
    clip-path: polygon(0px 0px, 230px 36px, 100% 12px, 100% 14px, 230px 38px, 0 2px);
}

.decor-section-2 {
    content:"";
    background-image: linear-gradient(to right, blue, var(--mild-danger));
    color: blue;
    margin-top: -48px;
    height: 50px;
    clip-path: polygon(0px 0px, 230px 36px, 100% 12px, 100% 22px, 230px 46px, 0 10px);
}

.decor-section-3 {
    content:"";
    background: var(--primary-dark);
    color: var(--primary-dark);
    margin-top: -38px;
    z-index: 10;
    height: 50px;
    clip-path: polygon(0px 0px, 230px 36px, 100% 12px, 100% 14px, 230px 38px, 0 2px);
}


/************************* NavBar *************************/

nav{
    background: var(--secondary-background);
    padding: 1rem 0;
    box-shadow: 0 0 12px var(--dark-shade-light);
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 10;
}

nav .nav-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* nav .nav-group .logo-section {
    color: var(--primary-dark);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: -47rem;
    cursor:default;
} */

nav .nav-group a img {
    height: 55px;
    width: 165px;
    margin: -7px 0 -7px 5px;
}

.nav .nav-group .special-options {
    position: absolute;
}

nav .nav-group .portfolio-button {
    color: var(--primary-dark);
    border-style: solid;
    border-width: 3px;
    transition: 
      background-position .2s ease-in-out, 
      color .2s ease-in-out;
    border-image: linear-gradient(to right, blue, var(--mild-danger)) 1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 14px;
    margin: 0 3px 0 10px;
    position: inherit;
}

nav .nav-group .portfolio-button:hover, .portfolio-button:focus {
    color: var(--secondary-background);
    padding: 8px 12px;
    overflow: hidden;
    background-size: 100% 200%; 
    background-position: 0% 100%;
    background-image: linear-gradient(to bottom, #fff 50%, var(--primary-dark-background) 50%);
}

nav .nav-group .special-options .moon-icon {
    margin: 0px 2px;
    padding: 4px 4px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--primary-dark);
}

nav .nav-group .special-options .moon-icon:hover {
    margin: 0;
    background-color: var(--primary-dark-background);
    color: var(--secondary-background);
    border: 2px solid var(--secondary-background);
    box-shadow: 0px 0px 10px var(--primary-dark-background);
}

nav .nav-group .special-options .print-icon {
    margin: 0px 2px;
    padding: 4px 4px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--primary-dark);
}

nav .nav-group .special-options .print-icon:hover {
    margin: 0;
    background-color: var(--print-icon);
    color: var(--secondary-background);
    border: 2px solid var(--secondary-background);
    box-shadow: 0px 0px 10px var(--print-icon);
}

nav .nav-group .special-options .download-icon {
    margin: 0px 2px;
    padding: 4px 4px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--primary-dark);
}

nav .nav-group .special-options .download-icon:hover {
    margin: 0;
    border: 2px solid var(--secondary-background);
    background-color: var(--download-icon);
    color: var(--secondary-background);
    box-shadow: 0px 0px 10px var(--download-icon);
}

nav .nav-group .special-options {
    margin-right: 13px;
}

/************************* Main Section *************************/

/****** Header Section ******/

section.profile-header-section {
    background: var(--secondary-background);
    display: flex;
    align-items: center;
    padding: 2.5rem;
    padding-top: 1rem;
    margin-top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 25% 100%, 0 80%);
    padding-bottom: 5.5rem;
    border-right: 1.95px solid var(--primary-dark);
    border-top: 1.5px solid var(--primary-dark);
    border-left: 1.5px solid var(--primary-dark);
}

section.profile-header-section .profile-pic-section {
    flex: 2;
    display: flex;
    align-items: center;
    margin-top: 32px;
}

section.profile-header-section .profile-pic-section .profile-pic img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
}

section.profile-header-section .profile-pic-section .profile-pic {
    position: relative;
    margin-right: 1.5rem;
}

section.profile-header-section .profile-pic-section .profile-pic span i {
    position: absolute;
    right: 0;
    bottom: 4px;
    background: var(--whatsapp-icon);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    padding-top: 4.8px;
    padding-left: 0.4px;
    cursor: pointer;
}

section.profile-header-section .profile-pic-section .profile-pic span i:hover {
    position: absolute;
    right: 0;
    bottom: 2px;
    border-radius: 50%;
    transform: scale(1.2);
    line-height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--primary-dark);
}


section.profile-header-section .profile-pic-section .personal-info h1{
    font-size: 25px;
    margin-bottom: 13px;
    letter-spacing: 1px;
    color:var(--primary-dark);
}

section.profile-header-section .profile-pic-section .personal-info h1:hover{
    background: -webkit-linear-gradient(  blue, var(--mild-danger));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.profile-header-section .profile-pic-section .personal-info p {
    font-size: 13px;
    margin: -2px 0px 0px 2px;
    color: var(--primary-dark);
}

section.profile-header-section .contact-section {
    flex: 1;
}

section.profile-header-section .contact-section ul.contact-list {
    list-style-type: none;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}

section.profile-header-section .contact-section ul.contact-list li {
    color: var(--primary-dark);
    margin-bottom: 0.5rem;
    justify-content: space-around;
    font-size: 14px;
    font-weight: bold;
} 

section.profile-header-section .contact-section ul.contact-list li i {
    margin-right: 10px;
    font-size: 16px;
} 

section.profile-header-section .contact-section ul.social-media  {
    display: flex;
    align-items: center;
    list-style-type: none;
    position: absolute;
}

section.profile-header-section .contact-section ul.social-media li{
    margin-right:10px;
}

section.profile-header-section .contact-section ul.social-media li a {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
}

section.profile-header-section .contact-section ul.social-media li:nth-child(1) a {
    color: var(--facebook-icon);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(1):hover a {
    background: var(--facebook-icon);
    color: var(--secondary-background);
    transform: scale(1.2);
    line-height: 32.8px;
    box-shadow: 0px 0px 10px var(--primary-dark);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(2) a {
    color: var(--instagram-icon);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(2):hover a {
    color: var(--secondary-background);
    background-image: linear-gradient(var(--facebook-icon) , var(--mild-danger) , orange);
    transform: scale(1.2);
    line-height: 32.8px;
    box-shadow: 0px 0px 10px var(--primary-dark);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(3) a {
    color: var(--twitter-icon);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(3):hover a {
    color: var(--secondary-background);
    background: var(--twitter-icon);
    transform: scale(1.2);
    line-height: 32.8px;
    box-shadow: 0px 0px 10px var(--primary-dark);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(4) a {
    color: var(--linkedin-icon);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(4):hover a {
    color: var(--secondary-background);
    background: var(--linkedin-icon);
    transform: scale(1.2);
    line-height: 32.8px;
    box-shadow: 0px 0px 10px var(--primary-dark);
}

/****** Body Section ******/

/* About Section */

section.about-section {
    height: auto;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    margin-top: -57px;
    border-right: 1.5px solid var(--primary-dark);
    border-left: 1.5px solid var(--primary-dark);
    line-height: 22px;
    background-color: var(--secondary-background);
    color: var(--primary-dark);
    clip-path: polygon(0 10px, 230px 46px, 1000px 18px, 100% 100%, 0% 100%);
}

.section-heading {
    color: var(--primary-dark);
    padding: 0px 0px 0px 0px;
    letter-spacing: 1px;
    position: relative;
    /* text-transform: uppercase; */
}

section.about-section .section-left {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: -62px;
    margin-top: 85px;
}

section.about-section .section-left .intro-para {
    line-height: 21px;
    margin-top: 15px;
    justify-content: center;
}

section.about-section .section-left p::first-letter {
    margin-left: 50px;
}

section.about-section .section-right {
    flex: 1.1;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 80px;
    padding: 1rem 2rem 0 2rem;
    display: flex;
    float: right;
    height: max-content;
    justify-content: center;
    border-style: solid;
    border-width: 3.5px;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(0, 0, 207), 
      blue,
      rgb(230, 2, 230),
      rgb(250, 169, 183),
      rgba(0, 0, 0, 0)
    ) 1 100%;
    background-color: #f2f2f2;
}

section.about-section .section-right p {
    font-size: 15px;
    margin-bottom: 0.5rem;
}

section.about-section .section-right p span:nth-child(1) {
    width: 140px;
    float: left;
}

section.about-section .section-right p span:nth-child(2) {
    width: 200px;
    float: right;
}

/* Skills Section */

section.skills-section {
    height: auto;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    margin-top: -75px;
    margin-bottom: 50px;
    border-right: 1.5px solid var(--primary-dark);
    border-bottom: 1.5px solid var(--primary-dark);
    border-left: 1.5px solid var(--primary-dark);
    line-height: 22px;
    background-color: var(--secondary-background);
    color: var(--primary-dark);
}

section.skills-section .section-left {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 0px;
    margin-top: 90px;
}

section.skills-section .section-left .section-inner-left {
    margin-left: -190px;
    width: max-content;
    border: 3.5px solid;
    border-image: linear-gradient(to bottom, rgb(0, 0, 207), blue,
      rgb(230, 2, 230),
      rgb(250, 169, 183),
      rgba(0, 0, 0, 0)
    ) 1 100%;
    background-color: #f2f2f2;
    padding: 1rem 2rem 1rem 2rem;
}

section.skills-section .section-left .section-inner-left .content-heading {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5rem;
    letter-spacing: 1px;
}

section.skills-section .section-left .section-inner-left .content-heading img {
    height: 80px;
    width: 80px;
}

section.skills-section .section-left .section-inner-left .content-heading h6 {
    color: var(--primary-dark);
    font-size: 18px;
    margin: 20px 10px 0 15px;
    letter-spacing: spacing 1px;
    font-style: italic;
}

section.skills-section .section-left .section-inner-left .timeline-wrapper {
    border-left: 2px solid rgb(77, 74, 74);
    height: calc(100% - 116px);
    margin-top: 10px;
}

section.skills-section .section-left .section-inner-left .timeline-wrapper .timeline-item:nth-child(1) {
    margin: -10px 0 20px 18px;
}

section.skills-section .section-left .section-inner-left .timeline-wrapper .timeline-item {
    margin: 0px 0 20px 18px;
}

section.skills-section .section-left .section-inner-left .timeline-wrapper .timeline-item p:nth-child(1) {
    content:"";
    position: relative;
    left: 0;
}

section.skills-section .section-left .section-inner-left .timeline-wrapper .timeline-item p:nth-child(1)::before {
    content:"";
    position: absolute;
    left: -26px;
    width: 13px;
    height: 13px;
    background-color: #f2f2f2;
    border: 2px solid rgb(77, 74, 74);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-60%);
}

section.skills-section .section-left .section-inner-left .timeline-wrapper .timeline-item p {
    margin: 2px 0;
}

section.skills-section .section-left .section-inner-left .timeline-wrapper .timeline-item p.edu-level{
    font-weight: bold;
    font-style: italic;
}

section.skills-section .section-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    float: right;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: -80px;
    /* background: green; */
    margin-top: 125px;
}

section.skills-section .section-right .content-heading {
    left: 0;
    margin: 0 0 15px 30px;
    font-size: 26.5px;
    font-style: italic;
    letter-spacing: 1px;
}

section.skills-section .section-right .category {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
}

section.skills-section .section-right .skill {
    width: 100px;
    height: 100px;
    /* background-color: #f2f2f2; */
    margin: 19px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.skills-section .section-right .category .skill p {
    margin-top: 8px;
    justify-content: center;
    font-size: 13.5px;
    cursor: pointer;
}

section.skills-section .section-right .skill .outer {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), 
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 14px;
}

section.skills-section .section-right .skill .outer .inner {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0 rgba(0, 0, 0, 0.15),
                0 12px 10px -10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

section.skills-section .section-right .skill .outer .inner #percentage {
    font-weight: bold;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.skills-section .section-right svg {
    position: absolute;
    margin-left: 3px;
    margin-top: -119px;
}

section.skills-section .section-right circle {
    fill: none;
    stroke: url(#GradientColor1);
    stroke-width: 13px;
    stroke-dasharray: 274;
    stroke-dashoffset: 274;
    animation: anim 2s linear forwards;
}

@keyframes anim {
    100% {
        stroke-dashoffset: var(--stroke);
    }
    /* 50% {
        stroke-dashoffset: var(--stroke);
    } */
}

/* Project Section */

section.project-section {
    height: auto;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    margin-top: -125px;
    margin-bottom: 50px;
    border-right: 1.5px solid var(--primary-dark);
    border-bottom: 1.5px solid var(--primary-dark);
    border-left: 1.5px solid var(--primary-dark);
    line-height: 22px;
    background-color: var(--secondary-background);
    color: var(--primary-dark);
}

section.project-section .project-tiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 90px 0 0 -98px;
    /* width: 100%; */
}

section.project-section .project-tiles .project img {
    height: 160px;
    width: 250px;
    margin: 0 10px;
    opacity: 1;
    /* box-shadow: ; */
    /* transition-property: height, width; */
    /* border: 1px solid var(--primary-dark); */
}

section.project-section .project-tiles .project img:hover {
    /* height: 160px;
    width: 250px;
    margin: 0 10px;
    border: 1px solid var(--primary-dark); */
    transform: scale(1.1); 
    border: none;
    cursor: pointer;
    box-shadow: 0 0 20px var(--dark-shade-light);
    opacity: 1;
    transition: .3s ease;
    backface-visibility: hidden;
}

/* Feedback Section */

section.feedback-section {
    height: auto;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    margin-top: -125px;
    margin-bottom: 50px;
    border-right: 1.5px solid var(--primary-dark);
    border-bottom: 1.5px solid var(--primary-dark);
    border-left: 1.5px solid var(--primary-dark);
    line-height: 22px;
    background-color: var(--secondary-background);
    color: var(--primary-dark);
}


/* Contact Section */

section.contact-section {
    height: auto;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    margin-top: -125px;
    margin-bottom: 50px;
    border-right: 1.5px solid var(--primary-dark);
    border-bottom: 1.5px solid var(--primary-dark);
    border-left: 1.5px solid var(--primary-dark);
    line-height: 22px;
    background-color: var(--secondary-background);
    color: var(--primary-dark);
}

section.contact-section .section-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    float: left;
    width:50%;
    margin: 80px 10px 0 -125px;
}

section.contact-section .section-left .contact-me-left {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

section.contact-section .section-left .contact-me-left .icon {
    margin: 10px 15px 10px 0;
    font-size: 20px;
    font-weight: bolder;
}

section.contact-section .section-left .contact-me-left .contact-details p:nth-child(1) {
    font-weight: 650;
    margin-bottom: 2px;
}

section.contact-section .section-left .contact-me-left .contact-details p:nth-child(2) {
    font-size: 14.5px;
}

section.contact-section .section-left .social-media {
    margin: 15px 0 0 -10px;
    z-index: 10;
}

section.contact-section .section-left .social-media ul.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

section.contact-section .section-left .social-media ul.social-links li {
    font-size: 17.5px;
}

section.contact-section .section-left .social-media li:nth-child(1) a {
    color: var(--facebook-icon);
    z-index: 10;
}

section.contact-section .section-left .social-media li:nth-child(1):hover a {
    color: var(--secondary-background);
    background-color: var(--facebook-icon);
    transform: scale(1.2);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--primary-dark);
}
section.contact-section .section-left .social-media li:nth-child(2) a {
    color: var(--instagram-icon);
}

section.contact-section .section-left .social-media li:nth-child(2):hover a {
    color: var(--secondary-background);
    background-image: linear-gradient(var(--facebook-icon) , var(--mild-danger) , orange);
    transform: scale(1.2);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--primary-dark);
}

section.contact-section .section-left .social-media li:nth-child(3) a {
    color: var(--twitter-icon);
}

section.contact-section .section-left .social-media li:nth-child(3):hover a {
    color: var(--secondary-background);
    background-color: var(--twitter-icon);
    transform: scale(1.2);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--primary-dark);
}

section.contact-section .section-left .social-media li:nth-child(4) a {
    color: var(--linkedin-icon);
}

section.contact-section .section-left .social-media li:nth-child(4):hover a {
    color: var(--secondary-background);
    background-color: var(--linkedin-icon);
    transform: scale(1.2);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--primary-dark);
}

section.contact-section .section-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    float: right;
    width:50%;
    margin-top: 80px;
    border: 3.5px solid;
    border-image: linear-gradient(to bottom, rgb(0, 0, 207), blue,
      rgb(230, 2, 230),
      rgb(250, 169, 183),
      rgba(0, 0, 0, 0)
    ) 1 100%;
    background-color: #f2f2f2;
}

section.contact-section .section-right form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -5px;
    padding: 10px;
    height: auto;
}

section.contact-section form .name-mail-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

section.contact-section form .form-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
}

section.contact-section form .form-element label {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

/* :required:input[type="text"]:invalid {
    color: red;
    border: 1px solid red;
} */

section.contact-section form .form-element input {
    padding: 7px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid var(--primary-dark);
}

/* section.contact-section form .form-element input:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 0px 0px 5px var(--primary-dark);
} */

section.contact-section form .form-element input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0px 0px 3px var(--primary-dark);
    transition: 0.2s linear;
}

section.contact-section form .form-element textarea {
    width: 96.3%;
    padding: 7px;
    font: inherit;
    font-size: 14px;
    border: none;
    margin-bottom: 15px;
    resize: vertical;
    border-bottom: 1px solid var(--primary-dark);
}

section.contact-section form .form-element textarea:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0px 0px 3px var(--primary-dark);
    transition: 0.2s linear;
}

section.contact-section form .form-element button {
    width: 96.3%;
    padding: 3px;
    font: inherit;
    font-size: 14px;
    border: 2px solid;
    letter-spacing: 1px;
    transition: 
      background-position .2s ease-in-out, 
      color .2s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-image: linear-gradient(to right, blue, var(--mild-danger)) 1;
    background: var(--secondary-background);
}

section.contact-section form .form-element button:hover, button:focus {
    color: var(--secondary-background);
    overflow: hidden;
    background-size: 100% 200%; 
    background-position: 0% 100%;
    background-image: linear-gradient(to bottom, #fff 50%, var(--primary-dark-background) 50%);
}

/* Error message Section */

.error-msg-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-background);
    background-color: var(--error);
    padding: 10px;
    margin: 0 20rem;
    border-radius: 4px;
    top: 20px;
}

/* Copy-right Section */

.copy-right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-dark);
    margin-bottom: 20px;
    font-size: 15px;
}

.copy-right-section span {
    font-size: 17px;
}

/* Scroll-to-top Section */

.scroll-to-top-section {
    position:fixed;
	width: 40px;
	height:40px;
	bottom:40px;
	right:30px;
	background-color: var(--secondary-background);
	color: var(--primary-dark-background);
	border-radius:50px;
    border: 1px solid var(--primary-dark);
	text-align:center;
    font-size:20px;
    padding-top: 7px;
	box-shadow: 0px 0px 3px #999;
    z-index:100;
}

.scroll-to-top-section:hover, .scroll-to-top-section:focus {
    cursor: pointer;
    color: var(--secondary-background);
    overflow: hidden;
    background-size: 100% 200%; 
    background-position: 0% 100%;
    background-image: linear-gradient(to bottom, #fff 50%, var(--primary-dark-background) 50%);
    transition: 0.3s linear background;
}