/* CSS for the Index Page */

/************************* Font Section *************************/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/************************* Color Code Section *************************/

:root{
    /* Light Mode Color Codes */
    --primary-background: #EEEEEE;
    --secondary-background: #FFFFFF;
    --primary-dark: black;
    --dark-shade-light: rgb(90, 84, 84);

    /* Dark Mode Color Codes */
    --primary-dark-background: #060C5B;

    /* Special Options Icon Color Codes */
    --download-icon: #5ADF11;
    --print-icon: #FF651C;

    /* Social Media Icon Color Codes */
    --whatsapp-icon: #44C052;
    --twitter-icon: #01A6F1;
    --facebook-icon: #35609D;
    --instagram-icon: #DF012B;
    --linkedin-icon: #0077b5;

    /* Common Button Colors */
    --portfolio-button: #1829F2;
}

/************************* Reset and Page Body Setup *************************/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background: var(--primary-background);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}

.container{
    margin: 0 auto;
    max-width: 910px;
}

/************************* Decoration Section *************************/

.decor-section-1 {
    content:"";
    background: var(--primary-dark);
    color: var(--primary-dark);
    margin-top: -38px;
    height: 50px;
    clip-path: polygon(0px 0px, 230px 36px, 100% 12px, 100% 14px, 230px 38px, 0 2px);
}

.decor-section-2 {
    content:"";
    background-image: linear-gradient(to right, blue, magenta);
    color: blue;
    margin-top: -48px;
    height: 50px;
    clip-path: polygon(0px 0px, 230px 36px, 100% 12px, 100% 22px, 230px 46px, 0 10px);
}

.decor-section-3 {
    content:"";
    background: var(--primary-dark);
    color: var(--primary-dark);
    margin-top: -38px;
    height: 50px;
    clip-path: polygon(0px 0px, 230px 36px, 100% 12px, 100% 14px, 230px 38px, 0 2px);
}


/************************* NavBar *************************/

nav{
    background: var(--secondary-background);
    padding: 1rem 0;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 10;
}

nav .nav-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-group .logo-section {
    color: var(--primary-dark);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: -50rem;
}

nav .nav-group img {
    height: 45px;
    width: 45px;
    margin-left: 10px;
}

.nav .nav-group .special-options {
    position: absolute;
}

nav .nav-group a {
    /* background: linear-gradient(to right, rgb(3, 3, 230), rgb(255, 0, 255));
    color: var(--secondary-background); */
    color: var(--primary-dark);
    border: none;
    border-radius:40px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 3px;
    position: inherit;
}

nav .nav-group a:hover{
    background: linear-gradient(to right, blue, magenta);
    color: var(--primary-dark);
    border: none;
    box-shadow: 0px 0px 20px var(--dark-shade-light);
    transform: scale(1.2);
}

nav .nav-group .special-options .moon-icon {
    margin: 0px 2px;
    padding: 4px 4px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--primary-dark);
}

nav .nav-group .special-options .moon-icon:hover {
    margin: 0;
    background-color: var(--primary-dark-background);
    color: var(--secondary-background);
    border: 2px solid var(--secondary-background);
    box-shadow: 0px 0px 10px var(--primary-dark-background);
}

nav .nav-group .special-options .print-icon {
    margin: 0px 2px;
    padding: 4px 4px;
    border-radius: 50%;
    color: var(--primary-dark);
}

nav .nav-group .special-options .print-icon:hover {
    margin: 0;
    background-color: var(--print-icon);
    color: var(--secondary-background);
    border: 2px solid var(--secondary-background);
    box-shadow: 0px 0px 10px var(--print-icon);
}

nav .nav-group .special-options .download-icon {
    margin: 0px 2px;
    padding: 4px 4px;
    border-radius: 50%;
    color: var(--primary-dark);
}

nav .nav-group .special-options .download-icon:hover {
    margin: 0;
    border: 2px solid var(--secondary-background);
    background-color: var(--download-icon);
    color: var(--secondary-background);
    box-shadow: 0px 0px 10px var(--download-icon);
}

nav .nav-group .special-options {
    margin-right: 13px;
}

/************************* Main Section *************************/

/****** Header Section ******/

section.profile-header-section {
    background: var(--secondary-background);
    display: flex;
    align-items: center;
    padding: 2.5rem;
    padding-top: 1rem;
    margin-top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 25% 100%, 0 80%);
    padding-bottom: 5.5rem;
    border: 1px 1px 0 1px solid black;
    /* box-shadow: 5px 5px 50px var(--primary-dark); */
}

section.profile-header-section .profile-pic-section {
    flex: 2;
    display: flex;
    align-items: center;
    margin-top: 32px;
}

section.profile-header-section .profile-pic-section .profile-pic img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
}

section.profile-header-section .profile-pic-section .profile-pic {
    position: relative;
    margin-right: 1.5rem;
}

section.profile-header-section .profile-pic-section .profile-pic span i {
    position: absolute;
    right: 0;
    bottom: 4px;
    background: var(--whatsapp-icon);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    padding-top: 4.8px;
    padding-left: 0.4px;
    cursor: pointer;
}

section.profile-header-section .profile-pic-section .profile-pic span i:hover {
    position: absolute;
    right: 0;
    bottom: 2px;
    border-radius: 50%;
    transform: scale(1.2);
    line-height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--primary-dark);
}


section.profile-header-section .profile-pic-section .personal-info h1{
    font-size: 25px;
    margin-bottom: 13px;
    letter-spacing: 1px;
    color:var(--primary-dark);
}

section.profile-header-section .profile-pic-section .personal-info h1:hover{
    background: -webkit-linear-gradient(  blue, magenta);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.profile-header-section .profile-pic-section .personal-info p {
    font-size: 13px;
    margin: -2px 0px 0px 2px;
    color: var(--primary-dark);
}

section.profile-header-section .contact-section {
    flex: 1;
}

section.profile-header-section .contact-section ul.contact-list {
    list-style-type: none;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}

section.profile-header-section .contact-section ul.contact-list li {
    color: var(--primary-dark);
    margin-bottom: 0.5rem;
    justify-content: space-around;
    font-size: 14px;
    font-weight: bold;
} 

section.profile-header-section .contact-section ul.contact-list li i {
    margin-right: 10px;
    font-size: 16px;
} 

section.profile-header-section .contact-section ul.social-media  {
    display: flex;
    align-items: center;
    list-style-type: none;
    position: absolute;
}

section.profile-header-section .contact-section ul.social-media li{
    margin-right:10px;
}

section.profile-header-section .contact-section ul.social-media li a {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
}

section.profile-header-section .contact-section ul.social-media li:nth-child(1) a {
    color: var(--facebook-icon);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(1):hover a {
    background: var(--facebook-icon);
    color: var(--secondary-background);
    transform: scale(1.2);
    line-height: 32.8px;
    box-shadow: 0px 0px 10px var(--primary-dark);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(2) a {
    color: var(--instagram-icon);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(2):hover a {
    color: var(--secondary-background);
    background-image: linear-gradient(var(--facebook-icon) , magenta , orange);
    transform: scale(1.2);
    line-height: 32.8px;
    box-shadow: 0px 0px 10px var(--primary-dark);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(3) a {
    color: var(--twitter-icon);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(3):hover a {
    color: var(--secondary-background);
    background: var(--twitter-icon);
    transform: scale(1.2);
    line-height: 32.8px;
    box-shadow: 0px 0px 10px var(--primary-dark);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(4) a {
    color: var(--linkedin-icon);
}

section.profile-header-section .contact-section ul.social-media li:nth-child(4):hover a {
    color: var(--secondary-background);
    background: var(--linkedin-icon);
    transform: scale(1.2);
    line-height: 32.8px;
    box-shadow: 0px 0px 10px var(--primary-dark);
}

/****** Body Section ******/

section.profile-body-section {
    height: auto;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    margin-top: -55px;
    margin-bottom: 50px;
    /* box-shadow: 1px 1px 10px var(--primary-dark); */
    line-height: 22px;
    background-color: var(--secondary-background);
    color: var(--primary-dark);
    clip-path: polygon(0 10px, 230px 46px, 1000px 18px, 100% 100%, 0% 100%);
}

.section-heading {
    color: var(--primary-dark);
    padding: 0px 0px 0px 0px;
    letter-spacing: 1px;
    position: relative;
}

section.profile-body-section .section-left {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: -62px;
    margin-top: 85px;
}

/* section.profile-body-section .section-left p {
    line-height: 22px;
} */

section.profile-body-section .section-left p::first-letter {
    margin-left: 50px;
}

section.profile-body-section .section-right {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 85px;
    padding: 2rem;
    display: flex;
    float: right;
    justify-content: center;
    /* background: #E8F0FE; */
    background-color: #f2f2f2;
}

